
<div id="about" class="container-fluid"><div class="content-heading"><h1 class="aboutheader revealOnScroll" data-animation="fadeIn">ABOUT </h1></div>
        <div class="row justify-content-center">
                    <div class="col-md-8">
                        <img class="img img-rounded revealOnScroll" data-animation="fadeIn" src="../../assets/images/IMG_2852.JPG"/>
                        <div class="revealOnScroll aboutanim" data-animation="fadeIn">
                                <h5>Anne Purtill</h5>
                                <p>excellent team that had won the championship last year. The Blue Whales fell behind early but showed excellent teamwork and came back to tie the game. The team had 15 hits and scored 8 runs. That’s excellent! Unfortunately, they had 5 fielding errors, which kept the other team in the lead the entire game. The game ended with the umpire making a bad call, and if the call had gone the other way, the Blue Whales might have actually won the game. It wasn’t a victory, but I say the Blue Whales look like they have a shot at the championship, especially if they continue to improve.</p>
                                <h5 class="aboutcomp">About Annesboutique</h5>
                                <p>The team had 15 hits and scored 8 runs. That’s excellent! Unfortunately, they had 5 fielding errors, which kept the other team in the lead the entire game. The game ended with the umpire making a bad call, and if the call had gone the other way, the Blue Whales might have actually won the game. It wasn’t a victory, but I say the Blue Whales look like they have a shot at the championship, especially if they continue to improve</p>
                                <span class="glyphicon glyphicon-heart"></span>
                           </div>
                    </div>
        </div>
    </div>