<div id="contact" class="container-fluid">
    <h1 align="center">Contact Me!</h1>
    <div class="row justify-content-center revealOnScroll" data-animation="fadeIn">
        <div class="col-lg-4">
            <h3>How to get in contact!</h3>
            <p>Please do not hesitate to contact! There is three methods in which you can contact me, phone, facebook and email.</p>
            <p><span class="fa fa-facebook-square"></span> For queries through facebook, direct message me on this <a href="https://www.facebook.com">profile.</a></p>
            <p> If you wish to contact me through phone: 0877714698</p>
            <p> <span class="fa fa-wechat"></span>O r by email, please use the form adjacent form.</p>
        </div>
        <div class="col-lg-4">
                <h3>Contact me by email:</h3>
                <form>
                    <div class="form-group col-md-12 col-12">
                        <h6>Name:</h6>
                        <input class="form-control" id="contactName" placeholder="Enter name" type="name" formControlName="contactName">
                    </div>
                    <div class="form-group col-md-12 col-12">
                        <h6>Email:</h6>
                        <input class="form-control" id="contactEmail" placeholder="Enter email" type="email" formControlName="contactEmail">
                    </div>
                    <div class="form-group col-md-12 col-12">
                            <h6>How can I assist?</h6>
                            <textarea class="form-control" id="contactTextArea" rows="10" formControlName="contactTextArea"></textarea>
                    </div>
                    <button class="btn" >SEND</button>
                </form>
            </div>
    </div>
</div>