
<div id="gallery"  class="container-fluid">

    <h1>GALLERY</h1>
    
    <div class="gallery">
        <h3>Bridal & Bridesmaid Bouquet's</h3>
        <div class="row">
            
            <div class="img col-sm-4 col-md-4 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2830.JPG">
                    <img src="../../assets/images/bouquets/IMG_2830.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-4 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2846.jpg">
                    <img  src="../../assets/images/bouquets/IMG_2846.jpg" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-4 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2830.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2830.JPG" >
                </a>
            </div>
            <div class="img col-sm-6 col-md-6 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2831.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2831.JPG" >
                </a>
            </div>
            <div class="img col-sm-6 col-md-6 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2826.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2826.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-4 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2825.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2825.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-4 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2826.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2826.JPG" >
                </a>
            </div>

            <div class="img col-sm-4 col-md-4 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2917.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2917.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2908.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2908.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2896.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2896.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2887.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2887.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="bouquets" href="../../assets/images/bouquets/IMG_2886.JPG">
                    <img  src="../../assets/images/bouquets/IMG_2886.JPG" >
                </a>
            </div>
            
        </div>
        <h3>Flower Girl</h3>
        <div class="row">
            
            <div class="img col-sm-4 col-md-6 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="flowergirl" href="../../assets/images/flowergirl/IMG_2811.JPG">
                    <img src="../../assets/images/flowergirl/IMG_2811.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-6 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="flowergirl" href="../../assets/images/flowergirl/IMG_2838.JPG">
                    <img  src="../../assets/images/flowergirl/IMG_2838.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-6 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="flowergirl" href="../../assets/images/flowergirl/IMG_2925.JPG">
                    <img  src="../../assets/images/flowergirl/IMG_2925.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-6 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="flowergirl" href="../../assets/images/flowergirl/IMG_2927.JPG">
                    <img  src="../../assets/images/flowergirl/IMG_2927.JPG" >
                </a>
            </div>
            
        </div>
        <h3>Buttonholes</h3>
        <div class="row">
            
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="buttonholes" href="../../assets/images/buttonholes/IMG_2866.JPG">
                    <img src="../../assets/images/buttonholes/IMG_2866.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="buttonholes" href="../../assets/images/buttonholes/IMG_2878.JPG">
                    <img  src="../../assets/images/buttonholes/IMG_2878.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="buttonholes" href="../../assets/images/buttonholes/IMG_2880.JPG">
                    <img  src="../../assets/images/buttonholes/IMG_2880.JPG" >
                </a>
            </div>
            <div class="img col-sm-4 col-md-3 revealOnScroll" data-animation="fadeIn">
                <a data-title="Bokay" data-lightbox="buttonholes" href="../../assets/images/buttonholes/IMG_2883.JPG">
                    <img  src="../../assets/images/buttonholes/IMG_2883.JPG" >
                </a>
            </div>



</div>
</div>