<nav id="navbar" class="navbar navbar-expand-sm navbar-default text-uppercase">
        <div class="container-fluid">
         <div class="navbar-header">
          <a href="#page-top" class="navbar-brand slide-section">Annes Boutique </a>
         </div>
         <div>
           
          <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link slide-section" href="#about">About</a>
          </li>
           <li class="nav-item">
               <a class="nav-link slide-section" href="#gallery">Gallery</a>
          </li>
           <li class="nav-item">
            <a class="nav-link slide-section"  href="#products">Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link slide-section"  href="#reviews">Reviews</a>
            </li>
           <li class="nav-item">
               <a class="nav-link slide-section" href="#contact">Contact</a>
         </li>

          </ul>
         </div>
        </div>
       </nav>﻿