<div id="products" class="container-fluid">
    <h1>Products & Services</h1>
                <div class="row justify-content-center">
                    <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                        <div class="mx-4">
                            <div class="box1 card-box revealOnScroll" data-animation="fadeIn">
                                <div class="card-img pb-4">
                                </div>
                                <h4 class="card-title">Delivery options</h4>
                                <p class="mbr-text">All items purchased can be hand delievered or collect to ensure product safety. Delivery and collection can be arranged in the contact section.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                            <div class="mx-4">
                                <div class="box2 card-box revealOnScroll" data-animation="fadeIn">
                                    <div class="card-img pb-4">
                                    </div>
                                    <h4 class="card-title">Weddings</h4>
                                    <p class="mbr-text">Weddings are the most popular service I proivde. All wedding flowers are 100% customized to the customers needs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                                <div class="mx-4">
                                    <div class="box3 card-box revealOnScroll" data-animation="fadeIn">
                                        <div class="card-img pb-4">
                                        </div>
                                        <h4 class="card-title">Socials Events</h4>
                                        <p class="mbr-text">I cater for any sort of social event that may need flowers. For imfortaion contact me via email.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                                    <div class="mx-4">
                                        <div class="box4 card-box revealOnScroll" data-animation="fadeIn">
                                            <div class="card-img pb-4">
                                            </div>
                                            <h4 class="card-title">Communions & Confirmations</h4>
                                            <p class="mbr-text">Communion flower can also be provided.... </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                                        <div class="mx-4">
                                            <div class="box5 card-box revealOnScroll" data-animation="fadeIn">
                                                <div class="card-img pb-4">
                                                </div>
                                                <h4 class="card-title">Table Center Piece</h4>
                                                <p class="mbr-text">Complete your table with a dinning table center piece.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                                            <div class="mx-4">
                                                <div class="box6 card-box revealOnScroll" data-animation="fadeIn">
                                                    <div class="card-img pb-4">
                                                    </div>
                                                    <h4 class="card-title">Artificial Or Fresh Flowers</h4>
                                                    <p class="mbr-text">I provide the option for artificial or fresh flowers. So cusomers can enjoy the longevity of the artificial flowers or can enjoy the scents of the fresh flowers.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                                                <div class="mx-4">
                                                    <div class="box7 card-box revealOnScroll" data-animation="fadeIn">
                                                        <div class="card-img pb-4">
                                                        </div>
                                                        <h4 class="card-title">Quick dispatch</h4>
                                                        <p class="mbr-text">I pride myself on fast dispatching of my products while ensuring they are of the highest quality.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card pd-3 col-12 col-md-6 col-xl-3 col-lg-3">
                                                    <div class="mx-4">
                                                        <div class="box8 card-box revealOnScroll" data-animation="fadeIn">
                                                            <div class="card-img pb-4">
                                                            </div>
                                                            <h4 class="card-title">Delivery options</h4>
                                                            <p class="mbr-text">THIS IS A DELVERY OPTION THIS IS A DELVERY OPTION THIS IS A DELVERY OPTION THIS IS A DELVERY OPTION THIS IS A DELVERY OPTION THIS IS A DELVERY OPTION</p>
                                                        </div>
                                                    </div>
                                                </div>
                </div>
    </div>